<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

    <form action="{% url 'user:login' %}" method="post">
    {% csrf_token %}
    <h2>Login</h2>
    <label for="id_user">UserName</label>
    <input type="text" name="username" id="id_user" minlength="5" maxlength="15" required/><br/>
        <br/>
    <label for="id_password">Password</label>
    <input type="password" name="password" id="id_password" minlength="6" maxlength="12" required/></br>

    <input type="submit" value="Login">

        <a href="{% url 'user:signup' %}">Sign Up</a>

    </form>


</body>
</html>