<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
</head>
<body>

    <form action="{% url 'formTwo:get_name' %}" method="post">
        {% csrf_token %}

        <!-- {{ form.as_p }} -->


         <p>
            <label for="id_subject">Subject:</label>
            <input id="id_subject" type="text" name="subject" maxlength="1000" required/>
        </p>

        <p>
            <label for="id_message">Message:</label>
            <textarea id="id_message" name="message" required></textarea>
        </p>
        <p>
            <label for="id_sender">Sender:</label>
            <input type="email" name="sender" id="id_sender" required/>
        </p>
        <p>
            <label for="id_cc_myself">Cc_myself:</label>
            <input type="checkbox" name="cc_myself" id="id_cc_myself" />
        </p>


        <input type="Submit" value="Send">

    </form>

</body>
</html>